h1 {
 color: blue;
}

.orangered {
    color: orangered;
}

button {
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: .3s;
}

button:hover {
    background-color: #dbdbdb;
}